body {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
}
.navbar {
    background:#16A085;
    border-bottom:4px solid #FFF;
    font-size: 20px;
}
.nav-link,
.navbar-brand {
    color: #000;
    cursor: pointer;
    font-weight: bold;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #FFF;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('images/Background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.description {
	left: 50%;
	position: absolute;
	top: 15%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #16A085
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description button {
    border:1px solid #FFF;
    background:#16A085;
    border-radius: 0;
    color:#000;
    font-weight: bold;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}
.container {
  padding: 2rem 0rem;
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;

    .modal-content {
      padding: 1rem;
    }
  }
}
.modal-header {
  .close {
    margin-top: -1.5rem;
  }
}
.form-title {
  margin: -2rem 0rem 2rem;
}
.btn-round {
  border-radius: 3rem;
  background: #16A085;
  color: #000;
  font-weight: bold;
}
.form-label {
  color: #FFF;
}
.form-check {
  color: #FFF;
}
.col-12 button {
    border:1px solid #FFF;
    background:#16A085;
    border-radius: 0;
    color:#000;
    font-weight: bold;
}
.col-12 button:hover {
    border:1px solid #fff;
    background:#fff;
    color:#000;
}
.btn-space {
    margin-top: 10px;
}
.table {
    margin-top: 10px;
    color: #FFF;
}
.h1 {
    color: #FFF;
}


